<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DeviceCertificate</key>
	<data>
	LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSUN1akNDQWFLZ0F3SUJBZ0lCQURB
	TkJna3Foa2lHOXcwQkFRVUZBREFBTUI0WERUSTFNREl3TlRJeU5EQXoKTmxvWERUTTFN
	REl3TXpJeU5EQXpObG93QURDQ0FTSXdEUVlKS29aSWh2Y05BUUVCQlFBRGdnRVBBREND
	QVFvQwpnZ0VCQUpTMU4rTnhzTE02L1pJc2l4WG5lRFFld0llcUUzekE0TFhnVXdPSVh0
	MktwK3pySWR4R3ROcUxVTityCnZrUzZoZTNCUnVzUkxOSEVxQlFRZ1U4WjFxN0hGYmkr
	WUpjVjdwL3JOajRkNGFub0RJeERMbVdiLzlUSy93ZlkKZFlMSXlDbldiYTZPYUFsc1RU
	Y0F6UGNpM0NWQldqOFBZTzFCampkTWk5VmJ2TURicnE3WFZDcXpNZFg5NE1INQpPZk5h
	dW9aYkVzakNXVHhpUXFTak9Ub0ZPdTg3K2h0RjQyc0xObDVpR0dWY0FLRGJQaTMybnZ0
	ZllmN0FJMnBKCmtEVzRZOHp0dzlSclMxWXRtdTBiUGRmRktVdkFJa242K2U4d3BsdXlo
	SnJKMk5CUDVHZjFEMkpZK1JJQ1FVdUgKQ1J0N0FlNTU0eFI4N1FWcVBsNDVKa0JkMUlN
	Q0F3RUFBYU0vTUQwd0RBWURWUjBUQVFIL0JBSXdBREFkQmdOVgpIUTRFRmdRVW1jUjdV
	MWJ2cXpPRmtXblFtWFNJL3Zzd2tPUXdEZ1lEVlIwUEFRSC9CQVFEQWdXZ01BMEdDU3FH
	ClNJYjNEUUVCQlFVQUE0SUJBUUFkVlZ3cnhxUzVSWkhtUlFVYjI2UGdFbEpSZlBHbmNz
	RnFjRXU2eW54OWY0WGEKdGNIbWt1MUd1ZnpYZkFXK2VzbytMVW1nbVNhWkx1TDBUQ3da
	d0V4elhxVHF1OUxOVE1JcDBURzFSOUxYTG0rNApDeGMydVhHTVFheDMzZFBZN2R2SWZx
	STBkNTJkbUs2aURrQyt4ZVZiU0Z5NndPMUJGbm5sZlU5bXRaSVhRMFJ3CmhQYnExalFn
	UXY4a2RCRXZXOS9Fb2JPRUxpTFhrbHQ4YURnTXVwMktoVjMrcG5yMWk4QjlYYjEwVndY
	R2VRT1UKc1J1UU1DZ2ZrOVlPOEUyQm03eGF6MS9KK2pvWklCaGp6SFkrTXpmOHhHeUJR
	QjJ5K3R1SFpIaWdDT293VWN4VQpvM0FNRUdNa2xnaXdKSXE3QzVhbStzcTJwRktiemty
	SHpldStETHJuCi0tLS0tRU5EIENFUlRJRklDQVRFLS0tLS0K
	</data>
	<key>HostPrivateKey</key>
	<data>
	LS0tLS1CRUdJTiBQUklWQVRFIEtFWS0tLS0tCk1JSUV2UUlCQURBTkJna3Foa2lHOXcw
	QkFRRUZBQVNDQktjd2dnU2pBZ0VBQW9JQkFRRE9XNElWTk9qSWhuMDkKMlZrRU1DanJF
	Q0dZNUJBSDNZbEg3TVpaSzJ6V1pmUkFQcys4REY2VTQvVXZlaWNrRm9nb21PdS9PSDRn
	RWVjVwpiZXVKOW92cTU0cDMyL0kyOWM0ellTS3JMY1pxRHl1MEhYQTVXN2tyQ3FuM2F2
	d01ic1JFZzRSU2N4dHgrcXRWCjNnaEdldnRzVGswSG9RSm5mWE9DTjBTbEF6ZEZ2SjZJ
	aGNkWjNtemRpcExFSEdJUG4xU2dWcmQvdTJwN2ZPSk8KekV4eHY4ZkNuQStlOHp3NVRq
	T3BmdmI2RUh3eDBJaW9aWitqT3U0ZFNrL0FpZCswL3RjUlYxZWRXUlYvNVpDRQozbXVO
	SjdaRDhzOFRvc2V2eEZvYWpzWjViTWMwNGRPN3h4czR1NTRWUWdMc20rcWhUZzM4dEEx
	NzVoSDVaa0xnCldQcm1FejV6QWdNQkFBRUNnZ0VBUDc3cTUwd3A0TkFTM2tsSEExRXhR
	clAvL08vdXQ4OUt1aW85ZDR3L21kZHkKNVduQjJGQmw0MDZzRGhlSkFjL29EY3AzZ09H
	ZHJLQjdKMldiVGtvWUhOK2IyYnpiRFBsUDBuVmVOVXoxcnd1eQpyM2dzazd0dTd3bmpT
	V2dHSm4wTktqRUtia0hhcDVJTTNZQ3lRN3QzOFpRYW5aR3lZVy9TZjlZODRWQ21BV2Rk
	CjU0TXNVZXArYWk0Z2FGQ3MraDhrWHVCM1FpOWNJY2JXVUhFcjRKM0JHdHFza3NaZFhC
	ODA3NnA5ZEVZcWMrYlQKZFFsMlptV08wa0Z5ejY2OVBWOVBXb0xET3JnYkVYcDRGM3R1
	bnlmbVpLN0pxejcxS0xmQmlWa0VuWDY1MStGWApUVElQdVdESm9xVjZwTUQ0d2dKRFZ6
	Y0hxMWRzQmsyVHkzOWtBZitma1FLQmdRRHQ0REZzcDBqK3RodUd5ZVRMClR2OWJsZVFT
	N29ybmErZE9JQ1RwZkpQVWMwVlI2aTE2VnJmeDhlQTJCT0NIdnBvRXpKeEF0R0dNRDRK
	RDNNSjYKOG5sNnNOcExoRWVmaWFkSWQ4L0NrOXcvbkZKRnRJS0tweW90L2dBQjdoQXN3
	YTM2TWpJaitvdjUvRUwzaGpySQo4d0kzVkFwaFUzc0ZVY2xoempST0V6a2tTUUtCZ1FE
	ZUZJdVhGdVpOM05JamxJbHYySlg2R2s2TlVUWExLVmUrClA3c3loNWdMVS9IRzlPakIz
	Y1pPcmhzS2QzbDlWUmE3d0drMlJLV01Tbkwrb3RPaWtWTVdZRHZ0cEhhcGhXMzQKdDE0
	UjZIVWlnY2NzOHJsblFucmNIZ3IwcWtaUmdXTlViYWdzdWVMNVBvYUZPNFIwbTQ1U2I0
	Y05Pc2NXcGRqMwpxcTNCRTMrVTJ3S0JnRWcwVml4Sjl2RkI2OGNWUDNxckJ2NFEySU1h
	bjFVeHZxdExQSWtYQkhSbmJQSTVhQWFMCmpoaEZ1QzROZXU0WlgvejI4ckw5VGVMS3ps
	cTFCdDkwL0lUT2ErU2lTVzlXeEUxTitPVnlKbGUwcHBCOEEyZjgKNStQQUJ0YVBJWi9F
	Um4vOGZwWEhObmZ5SjQyazAvRXRPazM3RjQrRlhJRTMyeTN4L3BSNFowN3BBb0dCQU1w
	dwpsaEtqcUVyZitacS9nMDAyZFBpbzFHUlQzQ0tYVEVtNzFNd3ArSHFUQ2ZuZ05QRE1W
	a0pReVl1UC8ybzFqMlNVCjhCT3RIZSsxeWYrK3RBY2tURVpBY1VDZXhDQ2g1ZTVzVU04
	b1JPYXd3THlEZ21qVG5DVmRLWVdBVmx0a0JBVHAKZFAxWWNjUGNzRWx4U0x2M05SU0dY
	K2k2Wk5PTFdTM2pJMEsyb0gwekFvR0FPL3ordG1HNHYzdzd1ZlhsVzg4Vgp4ZWlMOFh6
	UVcwT3M5Q0l2Q1VMN2xBNzhPaVhmQ0JzQUtvd2RCamhGT05nbmswbGNRVzNZb0o4aVgy
	NUxuNE1lCnZLc1N4V3Rrd0hyNjhNSzUwRnhUdlZ6eGJIWjUzLzI3a21jY3NxUUFxZEQ3
	blN4M1BtaGR2ZldHVmlhUGtXTUoKV214ZlZSMFBzYXFlWmpUdVhabE84emc9Ci0tLS0t
	RU5EIFBSSVZBVEUgS0VZLS0tLS0K
	</data>
	<key>HostCertificate</key>
	<data>
	LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSUNtekNDQVlPZ0F3SUJBZ0lCQURB
	TkJna3Foa2lHOXcwQkFRVUZBREFBTUI0WERUSTFNREl3TlRJeU5EQXoKTmxvWERUTTFN
	REl3TXpJeU5EQXpObG93QURDQ0FTSXdEUVlKS29aSWh2Y05BUUVCQlFBRGdnRVBBREND
	QVFvQwpnZ0VCQU01YmdoVTA2TWlHZlQzWldRUXdLT3NRSVpqa0VBZmRpVWZzeGxrcmJO
	Wmw5RUErejd3TVhwVGo5Uzk2Ckp5UVdpQ2lZNjc4NGZpQVI1eFp0NjRuMmkrcm5pbmZi
	OGpiMXpqTmhJcXN0eG1vUEs3UWRjRGxidVNzS3FmZHEKL0F4dXhFU0RoRkp6RzNINnEx
	WGVDRVo2KzJ4T1RRZWhBbWQ5YzRJM1JLVUROMFc4bm9pRngxbmViTjJLa3NRYwpZZytm
	VktCV3QzKzdhbnQ4NGs3TVRIRy94OEtjRDU3elBEbE9NNmwrOXZvUWZESFFpS2hsbjZN
	NjdoMUtUOENKCjM3VCsxeEZYVjUxWkZYL2xrSVRlYTQwbnRrUHl6eE9peDYvRVdocU94
	bmxzeHpUaDA3dkhHemk3bmhWQ0F1eWIKNnFGT0RmeTBEWHZtRWZsbVF1QlkrdVlUUG5N
	Q0F3RUFBYU1nTUI0d0RBWURWUjBUQVFIL0JBSXdBREFPQmdOVgpIUThCQWY4RUJBTUNC
	YUF3RFFZSktvWklodmNOQVFFRkJRQURnZ0VCQU5QU3lnT0RGN0RTdHo2K1NtSEJ1cGU3
	Ci9YZHFtY29xZzBoWFd6aUs1WnFhSEpHa21NNXk4WTZLdmpEQThwYmxaREMwQlZGNFFs
	Y0hkRWdTSmlqc3h3blIKUWI1ODZMRGxnSzEvWnVvbGRMdGVWRHhPeHhDSTZBQnNzazlG
	N1l6WXFzWEZyUWE5aTdySkdZVTJwbDRWRGlGbwo2VTBDM0tLTWJoZkZ3eHhsVGZTWEgz
	NnFRVnJFVU9UVTQrV0phTVpyQXpqMzVFZFU0d3l5eFVIQmZNcjFSV3FNCmlXSjFCdXpS
	djZyd3RzODZxMXQ5YVdQT0JtckN1TS8xVFZnZ3ozTE1jOHhUUWJGVE5kOVBJcExUc1Fy
	VGczb2QKMCtDNlFJVmh0QVZxZXZ1R3dKZ2JESm03MTV2Y1AwOWc4MXB5eERQVlIxYVpw
	aVRadmdpdDRnYVVSNlNtR1hJPQotLS0tLUVORCBDRVJUSUZJQ0FURS0tLS0tCg==
	</data>
	<key>RootPrivateKey</key>
	<data>
	LS0tLS1CRUdJTiBQUklWQVRFIEtFWS0tLS0tCk1JSUV2Z0lCQURBTkJna3Foa2lHOXcw
	QkFRRUZBQVNDQktnd2dnU2tBZ0VBQW9JQkFRRHhUTm9IeFhyK3NkUHEKaENod3VRMjhw
	RU9Ba0JpUXQxTUM5M1RyaTNjczZ5cnFqcEpGdGdYTjJuQS90andlWTFWajg3SWt5RW1P
	YU1DbwpybE9aT1lnOGJ4T1RRbG9VV3V4eTRaRElTVGdlUUlCV3d3U1dyeXp6byt0THQr
	bHB1YTZYaGxuaGZTdzNicnErCjlabGVEclB2bEJqVmMwTzVLcEZzUE1FazI0SWVJWnUy
	RU0wNmh3NnJuU1FMczNnRmZHY2F3T3dOcGNPa1NUdXoKNUJSTnZNOXlMVXpnbWJCeFBT
	bTBLdjdVZ3lBbU1KbWVtQkdqbS9sZ3VjS1NBY2hiSnlnVVVsS1hUTkI4cEY5dAoydzNw
	NVFNNnFobFFmUXVOQ0Z6YVFaeDJ0aGV2MlBhcEZyenFkTUZMeWdNcngwUkkySVBEUFdD
	Y2pGM3lqZTR3CnppOFlaYVJuQWdNQkFBRUNnZ0VBVmF1WGJWTHJ6Q21PdDZDY1N3a29t
	MlVtb2lxR3pqcUlPbkZwRFlmQ2xDd2EKWEpTcDBoNUNDVWdZdWtZVktpVFNXRjVaVFQz
	ZS83U3BVam95YkNCRkFrL2RmMWI3YkdhcnRFM3BmWEtoZmZ3ZwpsSzFBbjg4cUFvYWNM
	NUhvU1NVbm01eVRwTDh3UjY0RWwyL1ROOVc0aE1McjNqekNPcWVtWWV0Z0Y1bm5wSkpS
	CmxtUGNmRDFjeW8wbitzcFhMb2FIZzJoY3Q4SDdhSlNZUFR0OGNwdkhuRXV1bTFRZVpm
	NlVWck9zdDlQWEVCSHIKVkc4aG0vRkRvQXNObENxcmttcXRXdjUzUG4ybXpvSGRsYWVw
	UXJodEpDNkJpTW4xVlZXUjZzY2phSHBqc0R3cgo0MTlSRGNlcWw2eFcxRlphbDR4QmxC
	dnZuRVlWVkgybkYwQ0tLSy9lSVFLQmdRRDlORHZVUi9aL2ZweW5TUmpxClYrQytoU0FN
	VUtGYlZya1hJV0hWak5zUisxZnJWQjZDNElUYTgrNHJ5aVNSaFlHdHNMMHBtcWhKVE9J
	OXdvMW8KQ1VqTTBTeXkzMUNvUlVtVS95eFpQU0w4bDhrUXdSUW5GTkM2UFJoSnBIdmFR
	eXJ0Q3MrN0ZqeHpKM2h0bCs2RApIa3pZZEkzUWtlbURUSXpiWHltTjVCS1hsUUtCZ1FE
	ejl2ZkFlNkhYN0d0YmNpeUNadisyWWNtSmIzemVlNWlyCjdIZFArMTMvTm5UTEl4Z0J3
	TStiVC9oOElOb085VzhHOS81OHRSVlF2V0Q4SUk5eDBzby9OZEJ4Slk2eFRXVk8KMFFk
	YUNNTVZhcU8xeVlIU2VrdzlXSE9zc1JHcGNBYXJrNEVCbU16SmpOb0hTZ2ZiSEV5aXow
	TmtTMXJMTjQyTgovVytnbm1oZEN3S0JnUURHb3JTUTYwZUlhM1pQa2Z1MjArdmU2cWJp
	b2xxRFFqeC8xZE5mYVZudStHUFhuSzAyCjlSV2tneHFFUmRkOFJlVWVzbmtqYTAyNysx
	RzlLNlF0U3FOTzhvWURhVWRvU3JyWDVYc1FJdk1RZjY3ZnN1aXgKWkJYL0ZMQzZEUXlR
	aElMblpNVGtPeVIvSGliT3F4TVV6Njl2VzdocE9CNmR2Mjc5SmVGK2k3NitKUUtCZ0Y0
	YwpHZXhkaE13bmZpNXpkNm9DRTRpR1psa204Yk5kV0VLUjRHQ3hKY3hxZEZsY08wbUoy
	RXdnYUVseDNzeEFiMGp2CjUzS3g0L3dXWWRCQXV6VDhURnBmNXYyT3NHSEM2bDZpRWNU
	d2RsalBuMEZqN3ptRFJkK3dQRWNVc3l4NmM0aEMKU1ZTVlhnSXQzSGxOWElSd2dUdVky
	blZaQURnK1FOUFNQUHBud1BpTEFvR0JBTWpRSUszcEJ0T3A3R2phVHhBOQpiRjFHcUJ2
	TUYxaE5jOEFreStQTHJnLzBZaDZVNnAvZUFuWGt2SHFHMndkb1d3OVEyUHNKUFpUTjJZ
	M0sxT0hqCjZpT3lLek05c1VWbzIxTitISWI5ZW9QWHJuRGtqMWQwUHVuUVZ6cWtydlJl
	Q1pFQjU5MWJzd21YT1JtRS84SG4KVnV1cEtxQWlaVDROd3JZSys3UDltMDcxCi0tLS0t
	RU5EIFBSSVZBVEUgS0VZLS0tLS0K
	</data>
	<key>RootCertificate</key>
	<data>
	LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSUNqakNDQVhhZ0F3SUJBZ0lCQURB
	TkJna3Foa2lHOXcwQkFRVUZBREFBTUI0WERUSTFNREl3TlRJeU5EQXoKTmxvWERUTTFN
	REl3TXpJeU5EQXpObG93QURDQ0FTSXdEUVlKS29aSWh2Y05BUUVCQlFBRGdnRVBBREND
	QVFvQwpnZ0VCQVBGTTJnZkZldjZ4MCtxRUtIQzVEYnlrUTRDUUdKQzNVd0wzZE91TGR5
	enJLdXFPa2tXMkJjM2FjRCsyClBCNWpWV1B6c2lUSVNZNW93S2l1VTVrNWlEeHZFNU5D
	V2hSYTdITGhrTWhKT0I1QWdGYkRCSmF2TFBPajYwdTMKNldtNXJwZUdXZUY5TERkdXVy
	NzFtVjRPcysrVUdOVnpRN2txa1d3OHdTVGJnaDRobTdZUXpUcUhEcXVkSkF1egplQVY4
	WnhyQTdBMmx3NlJKTzdQa0ZFMjh6M0l0VE9DWnNIRTlLYlFxL3RTRElDWXdtWjZZRWFP
	YitXQzV3cElCCnlGc25LQlJTVXBkTTBIeWtYMjNiRGVubEF6cXFHVkI5QzQwSVhOcEJu
	SGEyRjYvWTlxa1d2T3Awd1V2S0F5dkgKUkVqWWc4TTlZSnlNWGZLTjdqRE9MeGhscEdj
	Q0F3RUFBYU1UTUJFd0R3WURWUjBUQVFIL0JBVXdBd0VCL3pBTgpCZ2txaGtpRzl3MEJB
	UVVGQUFPQ0FRRUFlR0N3c0lGUnRqaWN3WHZjMmo5M1VmMGx5TzhMdXJndW5PT0N1SUp5
	CjRTTzdXSUc0VURXRkU4TGJoNHBVUHJYeGQ5Umk0UXhncnUybU1jcWErb1E3dXlZS0VM
	cFc4Mk1NbHpOU25KSzQKRHVvOERrNFdCR2MxQ1Nyckg2dkZmYzUrZTZ1N0E2UGExb3dZ
	Z3FTUEIrV2tKRWNFVThUTmRGUTU1ZEtHZ0tDTAp3NjJZN21hYmxnZHY3a1lJMmlSaXNR
	czZjdU1mbEtDNGpRTmlxYVJnSHBaQU51a3dmbnhCa0VrcHlQTmRkcGZoCnAxMVFFR3JQ
	SElwNnc0TEpPTjcrdUcybWZIRXEyaTQydkVLY284U2NUOWJXcSs0MHk1V0tTODRJU0lh
	cEJlTy8KVUpPMnJGcm5XWitISStKNEluRUxmeW5hWE5zMnRMQWh6T2g5eHoxU0Z1MzN6
	dz09Ci0tLS0tRU5EIENFUlRJRklDQVRFLS0tLS0K
	</data>
	<key>SystemBUID</key>
	<string>310760791210337482958110456</string>
	<key>HostID</key>
	<string>D1DF7DF9-830F-066D-F3B9-E41BD55AC679</string>
	<key>EscrowBag</key>
	<data>
	TB5LCVNKlAjHc8quOTDcB7h4lLUAE7HkcB2vLONu5kA=
	</data>
	<key>WiFiMACAddress</key>
	<string>00:5b:94:94:89:f2</string>
	<key>UDID</key>
	<string>00008020-00092DE02251002E</string>
</dict>
</plist>
